
    <form [formGroup]="customerDataForm" (ngSubmit)="submitData()">
      <div class="form-row">
        <div class="form-group col-md-12 w-100">
          <label for="inputEmail4"
            >Customer Name <span style="color: red">*</span></label
          >
        <input type="text" class="form-control" [ngClass]="firstNameRx?.errors?.pattern ? 'formValidateTrue'  : 'formValidateFalse'" name="firstName" formControlName="customerName" id="inputEmail4"
          placeholder="customer Name" />
        </div>
        <div class="form-group col-md-12 w-100">
          <label for="inputPassword4"
            >Last Name <span style="color: gray">(optional)</span></label>
<input
            type="text"
            class="form-control"
            name="contact"
            formControlName="contact"
            id="inputEmail4"
            placeholder="contact"
           />
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-12 w-100">
          <label for="inputEmail4"
            >Area <span style="color: red">*</span></label
          >
          <input
            type="text"
            class="form-control"
            name="area"
            formControlName="area"
            id="inputEmail4"
            placeholder="area"
          
          />
        </div>
    
        <div class="form-group col-md-12 w-100">
          <label for="inputPassword4"
            >District <span style="color: red">*</span></label
          >
          <input
            formControlName="district"
            type="text"
            placeholder="district"
            name="district"
           
            class="district"
            
          />
        </div>
    
      </div>

    <div class="form-row">
        <div class="form-group col-md-12 w-100">
            <label for="inputPassword4">City <span style="color: red">*</span></label>
            <input type="text" placeholder="State" formControlName="state" name="state" class="form-control"
                id="inputPassword4"  />
        </div></div>
      <div class="form-row">
        <div class="form-group col-md-12 w-100">
          <label for="inputEmail4"
            >payment <span style="color: red">*</span></label
          ><br />
          <div class="gender-flex">
            <div>
              <input
                type="radio"
                value="Cash_On_deliver"
                name="payment"
                formControlName="payment"
                checked
              /><b style="color: rgb(14, 90, 151)">Cash On deliver</b>
            </div>
            <div>
              <input
                type="radio"
                value="credit_card"
                name="payment"
                formControlName="payment"
                (checked) = "paymentMode != paymentMode"
               
              /><b style="color: rgb(14, 90, 151)">Credit Card</b>
            </div>
            {{paymentMode}}
            <div>
              <input
                type="radio"
                value="debit_card"
                name="gender"
                formControlName="gender"
                class="gender"
                checked
             /><b style="color: rgb(14, 90, 151)">Un_Checked</b>
            </div>
          </div>
      <button type="submit" class="btn py-3">Process</button>
    </form>
  
